<section class="h-100 gradient-custom-2">
  <div class="container py-5 h-100">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col col-lg-9 col-xl-7">
        <div class="card">
          <div class="rounded-top text-white d-flex flex-row" style="background-color: #121451f; height:200px;">
            <div class="ms-4 mt-5 d-flex flex-column" style="width: 150px;">
              <%= image_tag asset_path('profile.png'), class:"img-fluid img-thumbnail mt-4 mb-2",
                style:"width: 150px; z-index: 1; border-color: #ae91c1fc; background-color: #cab3c9;"%>
            </div>
            <div class="ms-3" style="margin-top: 80px;">
              <h5 style= "color:black;" ><%=@user.borough.name  %></h5>
            </div>
          </div>
          <div class="p-4 text-black" style="background-color: #BDD2B6;">
            <div class="d-flex justify-content-end text-center py-1">
              <div class="px-3">
                <p class="mb-1 h5">1026</p>
                <p class="small text-muted mb-0">Followers</p>
              </div>
              <div>
                <p class="mb-1 h5">478</p>
                <p class="small text-muted mb-0">Following</p>
              </div>
            </div>
          </div>
          <div class="card-body p-4 text-black" style="background-color: #BDD2B6;">
            <div class="mb-5">
              <p class="lead fw-normal mb-1">Account Details</p>
              <div class="p-4" style="background-color: #f8f9fa;">
                <p class="font-italic mb-1">Email: <%= @user.email%> </p>
              </div>
            </div>

          </div>
           <%=link_to "Edit profile", edit_user_registration_path(@user), class:"btn btn-outline-dark"%>
           <% if user_signed_in? %>
            <%= link_to "Log out", destroy_user_session_path, data: {turbo_method: :delete}, class:"btn btn-outline-dark" %>
           <%end%>
        </div>
      </div>
    </div>
  </div>
</section>
