<section class="vh-100" style="background-color: #eee;">
<style>
    #hideDiv {
    display: none;
    height: 150px;
    width: 150px;
    }
</style>
  <div class="container py-5 h-10">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col-md-12 col-xl-4">
        <div class="card" style="border-radius: 15px; background-color: #ABD699;">
          <div class="card-body p-4 text-black">
              <div class="d-flex align-items-center justify-content-between mb-3">
                <h4 class="mb-0">Your Profile</h4>
            </div>
            <div class="d-flex align-items-center mb-4">

              <div class="flex-grow-1 ">
                <div class="d-flex flex-row align-items-center mb-2">
                  <p class="mb-0 me-2"><%= @user.email%> </p>
                </div>
                <div class="d-flex flex-row align-items-center mb-2">
                <p class="small mb-0"><i class="fa-solid fa-location-dot"></i> <%=@user.borough.name  %></p>
                </div>
              </div>
            </div>
            <hr>
            <div>
              <%=link_to "Edit", edit_user_registration_path(@user), class:"btn btn-outline-dark btn-rounded btn-sm"%>
              <% if user_signed_in? %>
                <%= link_to "Log out", destroy_user_session_path, data: {turbo_method: :delete}, class:"btn btn-outline-dark btn-rounded btn-sm" %>
              <%end%>
            </div>
             <br>
            <%=link_to "View Stats", stats_path, class:"btn btn-rounded btn-block btn-lg", style:"background-color: #16123f; color: white;", onclick:"buttonClicked()" %>
            <div class="card-body  text-black">
            <div class="d-flex align-items-center  ">
            <div id="hideDiv">
            <p class="small "><i class="fa-solid fa-award"></i> Congrats, you have properly disposed of </p>
            <h4><strong><%= @user.item_users.count%> Items</strong></h4>
            <p class="small "><i class="fa-solid fa-award"></i> Together, we have recycled </p>

            <h4><strong><%= ItemUser.all.count%> Items</strong></h4>
            </div>
            <script>
            function buttonClicked() {
            $("#hideDiv").show();
            }
            </script>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
