<div class="navbar navbar-expand-sm navbar-light navbar-lewagon">
  <div class="container-fluid">
    <%= link_to "/", class: "navbar-brand" do %>
      <%= image_tag asset_path('logo_Recycle-X.png') %>
    <% end %>
    <div class="title">
    <%# <div class="collapse navbar-collapse" id="navbarSupportedContent"> %>
    <ul class="navbar-nav me-auto">
    <% if user_signed_in? && @url != "http://localhost:3000/" %>
      <li class="nav-item">
        <h2><%= link_to "Recycle-X", root_path, style:"color: #abd699;", class: "nav-link" %></h2>
      </li>
    <% elsif user_signed_in? %>
        <h2><%= link_to "About Recycling", resources_path, style:"color: #abd699;", class: "nav-link" %></h2>
    <% else %>
      <li class="nav-item">
        <h2><%= link_to "Login", new_user_session_path, style:"color: #abd699;", class: "nav-link" %></h2>
      </li>
    <% end %>
    </ul>
  </div>
  </div>
</div>
</div>
