
<section style="background-color: #eee;">
  <div class="container py-5">
    <div class="row justify-content-center">
      <div class="col-12 col-sm-6 mb-4" data-aos="zoom-in">
        <div class="card shadow h-100" style="border-radius: 15px;">
          <div class="card-body pb-0">
            <div class="text-center">
              <h2><strong><%=@item.name%></strong></h2>
              <p class="small text-muted"><i class='fas fa-barcode text-center'></i> <%= @item.barcode %> </p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row justify-content-center">
      <div class="col-12 col-sm-6 mb-4" data-aos="zoom-in">
        <div class="card shadow h-100" style="border-radius: 15px;">
          <div class="card-body pb-0">
            <h4 class="text-center">Ecoscore: <%=@item.eco_score %></h4>
                <div class="text-center">
                  <% if @item.eco_score == "A" %>
                    <% 4.times do %>
                      <i class="fa-solid fa-leaf" style="color:green"></i>
                    <% end %>
                  <% elsif @item.eco_score == "B" %>
                    <% 3.times do %>
                      <i class="fa-solid fa-leaf" style="color:green"></i>
                    <% end  %>
                  <% elsif @item.eco_score == "C" %>
                    <% 2.times do %>
                      <i class="fa-solid fa-leaf" style="color:green"></i>
                    <% end  %>
                  <% elsif @item.eco_score == "D" %>
                      <i class="fa-solid fa-leaf" style="color:green"></i>
                  <% end  %></p>
                </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row justify-content-center">
      <div class="col-12 col-sm-6 mb-4" data-aos="zoom-in">
        <div class="card shadow h-100" style="border-radius: 15px;">
          <div class="card-body pb-0">
            <div class="d-flex justify-content-between">
              <div>
                <h3 style="color: green" > <strong><i class="fa-solid fa-recycle"></i> Recycling</strong></h3>
                  <% @item.packagings.each do |packaging|%>
                    <% packaging.rules.each do |rule| %>
                      <% if rule.borough_id == @user.borough_id %>
                        <% if rule.is_recycled == true%>
                          <p>Category: <%= packaging.category %></p>
                          <p>Type: <%= packaging.type %></p>
                        <% end %>
                      <% end %>
                    <% end %>
                  <% end %>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row justify-content-center">
      <div class="col-12 col-sm-6 mb-4" data-aos="zoom-in">
        <div class="card shadow h-100" style="border-radius: 15px;">
          <div class="card-body pb-0">
            <div class="d-flex justify-content-between">
              <div>
                <h3 class="text-dark"><strong> <i class="fa-solid fa-trash"> </i> General Waste </strong></h3>

                  <% @item.packagings.each do |packaging|%>
                    <% packaging.rules.each do |rule| %>
                      <% if rule.borough_id == @user.borough_id %>
                        <% if rule.is_recycled == false %>
                          <p>Category: <%= packaging.category %></p>
                          <p>Type: <%= packaging.type %></p>
                          <%# <% else %>
                            <%# <%= "In #{@user.borough.name}, #{@item.name} can be 100% recycled! " %>
                        <% end %>
                      <% end %>
                    <% end %><br>
                  <% end %>
              </div><br>
            </div>
          </div>
        </div>
      </div>
    </div>

  </div>
</section>
