<div class="container py-3">

<%= simple_form_for item do |f| %>
    <div class="container text-center">
      <h4>This product does not exit on Recycle X yet!</h4>
      <h4>We found some information about the product</h4>
      <h4>Reviewing and/or filling the information is very valuable for us and the following users</h4>
      <h4>Thank you for contributing to making recycling easier, and the planet better!</h4>
    </div>

    <%= f.input :name, input_html: {data: {barcode_target: "nameInput"}}%>
    <%= f.input :barcode, input_html: {data: {barcode_target: "barcodeInput"}}%>
    <%= f.input :eco_score, input_html: {data: {barcode_target: "ecoscoreInput"}}, disabled: true %>
    <%= f.input :photo, as: :file %>
    <%= f.input :image_url, input_html: {data: {barcode_target: "imageUrlInput"}}, disabled: true %>

    <div data-item-form-target="packagingWrapper">
        <%= f.association :packagings, as: :check_boxes, label_method: :name_of_method, input_html: {data: {barcode_target:"packagingTagsInput"}} %>
    </div>

    <%= f.submit %>
    <% end %>

</div>
