
<%= simple_form_for item do |f| %>

<div>

  <h2>This product does not exit on Recycle X yet!</h2>
  <h2>We found some information about the product</h2>
  <h2>Reviewing and/or filling the information is very valuable for us and the following users</h2>
  <h2>Thank you for contributing to making recycling easier, and the planet better!</h2>

  <%= f.input :name, input_html: {data: {barcode_target: "nameInput"}}%>
  <%= f.input :barcode, input_html: {data: {barcode_target: "barcodeInput"}}%>
  <%= f.input :eco_score, input_html: {data: {barcode_target: "ecoscoreInput"}}%>
  <%= f.input :photo, as: :file %>
  <%= text_field_tag 'image_url', ''  %>

  <div data-item-form-target="packagingWrapper">
    <%= f.association :packagings, label_method: :name_of_method, input_html: {data: {barcode_target:"packagingTagsInput"}} %>
  </div>

  <%= f.submit %>

</div>
<% end %>
  <%# <% barcode = data: {barcode_target: "packagingtagsInput"}%>
  <%#= barcode %>
