<%= simple_form_for item, data: {controller: "item-form"} do |f| %>
  <%= f.input :name %><br><br>
  <%= f.input :barcode %><br><br>
  <%= f.input :eco_score %><br><br>
  <%= f.input :photo, as: :file %>
  <div data-item-form-target="packagingWrapper">
    <%= f.simple_fields_for :item_packagings, ItemPackaging.new do |item_packagings_form| %>
      <%= item_packagings_form.association :packaging, collection: Packaging.all, label_method: :category   %>
      <%= item_packagings_form.association :packaging, collection: Packaging.all, label_method: :type   %>
    <% end %>
  </div>
  <button data-item-form-target="packagingButton" data-action="click->item-form#addForm">Add Packaging</button>
  <%= f.submit %>
<% end %>
