<h1><%=@item.name%></h2>

<div>
<h2>Eco score: <%= @item.eco_score %></h2>
</div>

<% @item.packagings.each do |packaging|%>
<p>Category: <%= packaging.category %></p>
<p>Type: <%= packaging.type %></p>
<% packaging.rules.each do |rule| %>

  <% if rule.borough_id == @user.borough_id %>
  <% if rule.is_recycled == true%>
  <p><%= "#{@item.name} can be recycled in #{@user.borough.name} ! "%></p>
  <% end %>
  <% end %>

  <% end %>
<% end %>
